@if(flashMessages.has('success'))
  <div class="alert alert-success">
    {{ old('success') }}
  </div>
@end

@if(flashMessages.has('error'))
  <div class="alert alert-danger">
    {{ old('error') }}
  </div>
@end

@error('E_INVALID_CREDENTIALS')
  <div class="alert alert-danger">
    {{ $message }}
  </div>
@end
