<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Connect
    </title>
    @vite(['resources/css/login.css'])
    @vite(['resources/css/app.css'])

  </head>
  <body>
    <main>
      <h1>
        Connect
      </h1>
      <form action="/connect" method="POST">
        <div>
          <label for="Username">Username:</label>
          <input type="Username" id="Username" name="Username" required /></textarea>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required /></textarea>
    </div>
    <button type="submit">Connect</button>
  </form>
</main>
</body>
</html>
