@extends('layouts.app')

  @section('title', 'Flashcards')

    @section('content')
      <main>
        <h1>
          Flashcards
        </h1>
        <p>
          Welcome to the Flashcards page!
        </p>
      </main>
    @endsection
