@component('components/layout', { title: 'Accueil' })
  <h3>
    Liste des sections
  </h3>
  <table>
    <thead>
      <tr>
        <th>
          Titre
        </th>
        <th>
          Description
        </th>
      </tr>
    </thead>
    <tbody>
      @each(section in sections)
        <tr>
          <td>
            {{ section.name }}
          </td>
          <td>
            {{ section.description }}
          </td>
        </tr>
      @endeach
    </tbody>
  </table>
@endcomponent
