<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Register
    </title>
    @vite(['resources/css/login.css'])
    @vite(['resources/css/app.css'])
  </head>
  <body>
    <main>
      <h1>
        Register
      </h1>
      <form action="/register" method="POST">
        <div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <label for="Username">Username:</label>
          <input type="text" id="Username" name="Username" required />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Register</button>
      </form>
    </main>
  </body>
</html>
